<phpunit bootstrap="./test/bootstrap.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="false"
		 convertWarningsToExceptions="true"
		 stopOnFailure="false"
		 syntaxCheck="true">

	<testsuites>
		<testsuite name="PDS testing Suite - Hashing Functions">
			<directory>./test/src/Hash</directory>
		</testsuite>

		<testsuite name="PDS testing Suite - HyperLogLog Cardinality Estimator">
			<directory>./test/src/HyperLogLog</directory>
		</testsuite>

		<testsuite name="PDS testing Suite - Exact Cardinality Estimator">
			<directory>./test/src/Exact</directory>
		</testsuite>

		<testsuite name="PDS testing Suite - Storage Structures">
			<directory>./test/src/Storage</directory>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory suffix=".php">../</directory>
		</blacklist>
		<whitelist>
			<directory suffix=".php">../src/Hash</directory>
			<directory suffix=".php">../src/Bloom</directory>
			<directory suffix=".php">../src/HyperLogLog</directory>
			<exclude>
				<file>./bootstrap.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
